<div class="code-writer-container">
  <button class="run-code"> Run code </button>
  <div class="code-editor">
    <textarea class="text-edit" placeholder="Enter your code here"></textarea>
  </div>
  <div class="code-preview">
    <p>$ <span class="code-results"></span><span class="error-message"></span></p>
  </div>
</div>