.code-writer-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  
  .code-editor {
    width: 100%;
    height: 80%;
    display: flex;

    .text-edit {
      width: 100%;
      height: 100%;
      padding: 8px;
      font-size: 20px;
      outline: none;
      border: none;
      background-color: hsl(0, 3%, 94%);
    }
  }

  .code-preview {
    width: 100%;
    height: 20%;
    padding: 8px;
    font-size: 20px;
    background-color: hsl(0, 1%, 30%);

    color: white;
  }

  .run-code {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 8px;
  }

  .error-message {
    color: red;
  }
}